/* CSS Document */

#formbox {
	width: 100%;
	background-color: #ffffd5;
	border: 1px #333;
	padding: 5px;
	margin: 0px auto;
}

input[type=text], input[type=tel]{
	font-family: Helvetica, Arial, sans-serif;
	border: 1px solid #ccc;
	font-size: 20px;
	width: 200px;
	min-height: 30px;
	display: block;
	margin-bottom: 15px;
	margin-top: 5px;
	outline: none;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	
	-moz-transition: padding .25s;
	-webkit-transition: padding .25s;
	-o-transition: padding .25s;
	transition: padding .25s;
}

#expiry {
	width: 100px;
}

input[type=submit], input[type=reset]{
	background:none;
	padding:10px;
}

:required{
	border-color: #88a;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
	-o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
	-mas-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
	box-shadow: 0 0 5px rgba(0, 0, 255, .5);
}

input:required:valid{
	background: #fff url(../images/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}

input:required{
	background: #fff url(../images/red_asterisk.png)
	no-repeat 98% center;
}

input:focus{
	background: #fff;
	border: 1px solid #555;
	box-shadow: 0 0 epx #aaa;
	padding-right: 20px;
}

input:focus:invalid {
	background: #fff url(../images/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535;
}

